*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;   
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px;

    background-color: #343434;
}

.nav-bar .list-nav{
    display: flex;
    gap: 30px;
}

.nav-bar .list-nav a{
    color: #FFFBFF;
    text-decoration: none;


    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.nav-bar .list-nav a:hover{
    color: #FFFBFF;
    text-decoration: underline 2px #FFFBFF;
}

.button a{
    display: flex;
    align-items: center;
    padding: 15px 50px;
    gap: 5px;

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #FFFBFF;

    background-color: #001029;
    border-radius: 50px;
}

.button a:hover{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #001029;

    background-color: #FFFBFF;
}

.button-mob a{
    display: none;
    align-items: center;
    padding: 15px 50px;
    gap: 5px;
    width: 150px;

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #FFFBFF;

    background-color: #001029;
    border-radius: 50px;
}

.button-mob a:hover{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #001029;

    background-color: #FFFBFF;
}

.header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 600px;

    background-image: url(./assets/Mask\ group.png);
    background-size: cover;
}

.header .text-header{
    display: flex;
    place-self: center;
    flex-direction: column;
    gap: 15px;
}

.header .text-header h2{
    font-size: 5.5vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #FFFBFF;
}

.header .text-header p{
    font-size: 2.3vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #FFFBFF;
}

.header .text-header strong{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: #FFFBFF;
}

.header .text-header .button a{
    display: flex;
    justify-content: center;
    width: 150px;
}

.sub-header{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;

    background-color: #001029;
    color: #FFFBFF;

    white-space: nowrap;
    overflow: hidden;
}

.sub-header .letreiro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
   
    position: relative;
    animation: move-left 10s infinite linear;
}

.sub-header .letreiro h3{
    font-size: 2vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #FFFBFF;
}

.sub-header .letreiro .circle{
    height: 5px;
    width: 5px;
    background-color: #FFFBFF;
    border-radius: 100%;
}

.main-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px;
    gap: 30px;
    background-color: #FFFBFF;
}

.main-1 .titles{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-1 .titles h1{
    font-size: 5vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #001029;
}

.main-1 .titles p{
    font-size: 2vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #001029;
}

.main-1 .area-cards-1{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 15px 10px;
    padding: 10px;
}

.main-1 .area-cards-1 .card{
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    gap: 20px;
    
    width: 350px;

    background-color: #343434;
    border-radius: 2px;
}

.main-1 .area-cards-1 .card h2{
    font-size: 3vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #FFFBFF;
}

.main-1 .area-cards-1 .card p{
    font-size: 2vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #FFFBFF;
}

.main-1 .button a{
    display: flex;
    justify-content: center;
    width: 300px;
}

.main-1 .button a:hover{
    border: 3px solid #001029;
}

.main-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    padding: 80px 0px;
}

.main-2 .titles{
    display: flex;
    align-items: center;
    gap: 40px;
}

.main-2 .titles .p1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-2 .titles .p1 h2{
    font-size: 3.5vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;

}

.main-2 .titles .p1 p{
    font-size: 2vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.main-2 .titles .p1 hr{
    background-color: #001029;
    width: 180px;
    height: 2px;
}

.main-2 .titles .p2 p{
    font-size: 2.3vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.main-2 .area-about{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-2 .area-about .card-about{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #343434;
    border-radius: 2px;
}

.main-2 .card-about .card-text{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;

    color: #FFFBFF;
}

.main-2 .card-about .card-text h2{
    font-size: 3vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.main-2 .card-about .card-text p{
    font-size: 2vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.main-2 .button a:hover{
    border: 3px solid #001029;
}

.main-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
    gap: 30px;
    background-color: #001029;
}


.main-3 .titles{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-3 .titles h1{
    font-size: 5vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #FFFBFF;
}

.main-3 .titles p{
    font-size: 2vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #FFFBFF;
}

.main-3 .area-cards-2{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main-3 .area-cards-2 .card{
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    gap: 20px;

    width: 250px;

    background-color: #FFFBFF;
    border-radius: 2px;
}

.main-3 .area-cards-2 .card img{
    background-color: #343434;
    padding: 10px;
    border-radius: 100%;
}

.main-3 .area-cards-2 .card h2{
    font-size: 3vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #001029;
}

.main-3 .area-cards-2 .card p{
    font-size: 2vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #001029;
}

.main-4{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;

    padding: 60px 0px;
    
}

.main-4 img{
    display: none;
}

.main-4 .image img{
    display: flex;
    position: relative;
    transform: translateX(-30px);
}

.main-4 .p1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-4 .p1 .titles{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-4 .p1 .titles h3{
    font-size: 2.5vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
    color: #001029;
}

.main-4 .p1 .titles h2{
    font-size: 3vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #001029;
}

.main-4 .p1 .titles hr{
    width: 150px;
    height: 2px;
    background-color: #001029;
}

.main-4 .cards-carrosel{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 465px;
}

.main-4 .card{
    display: flex;
    flex-direction: column;
    justify-self: left;
    padding: 30px 40px;
    gap: 20px;

    background-color: #343434;
    border-radius: 2px;
}

.main-4 .card p{
    font-size: 2.3vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color:  #FFFBFF;
}

.main-4 .card .person{
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-4 .card .person img{
    display: flex;
    padding: 5px;
    border: 3px solid #FFFBFF;
    border-radius: 100%;
}

.main-4 .card .person h3{
    font-size: 2vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #FFFBFF;
}

.main-4 .card .person img{
    height: 100%;
}

.main-4 .cards-carrosel .carrosel-bottons{
    display: flex;
    gap: 10px;
}

.main-4 .cards-carrosel .carrosel-bottons button{
    height: 15px;
    width: 15px;
    background-color: #343434;
    border: 0;
    border-radius: 100%;
    cursor: pointer;
}

.main-4 .cards-carrosel .carrosel-bottons button:active{
    height: 15px;
    width: 15px;
    background-color: #FFFBFF;
    border: 3px solid #343434;
    border-radius: 100%;
    cursor: pointer;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;

    background-color: #001029;
}

.footer h2{
    text-align: center;
    font-size: 1.5vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color:  #FFFBFF;
}

.footer .button a{
    background-color: #FFFBFF;
    color: #001029;
}

.footer .button a:hover{
    border: 3px solid #FFFBFF;
    background-color: #001029;
    color: #FFFBFF;
}

@media screen and (width < 560px){
    .nav-bar{
        display: flex;
        justify-content: center;
        padding: 30px 0px;
    }

    .nav-bar .list-nav{
        display: none;
    }

    .button{
        display: none;
    }

    .button-mob a{
        display: flex;
    }

    .nav-bar .button a{
        display: none;
    }

    .header{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        height: 650px;
        padding: 0px 20px;
    }

    .header .text-header{
        display: flex;
        place-self: center;
        flex-direction: column;
        gap: 15px;
    }

    .header .text-header h2{
        font-size: 4.5vh;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        color: #FFFBFF;

    }

    .header .text-header p{
        font-size: 2vh;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        color: #FFFBFF;
    }

    .header .text-header p br{
        display: none;
    }

    .header .text-header strong{
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        color: #FFFBFF;
    }

    .header .text-header .button-mob a{
        display: flex;
        justify-content: center;
        width: 150px;
    }

    .main-1{
        margin: 40px 0px;
    }

    .main-1 .titles h1{
        font-size: 4vh;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        color: #001029;
    }

    .main-1 .area-cards-1{
        display: grid;
        grid-template-columns: repeat(1,2fr);
        gap: 15px 10px;
        padding: 10px 20px;
    }

    .main-1 .area-cards-1 .card{
        padding: 40px 20px;
        
        width: 300px;
    }

    .main-1 .button-mob a{
        display: flex;
        justify-content: center;
        width: 200px;
    }

    .main-1 .button-mob a:hover{
        border: 3px solid #001029;
        background-color: #FFFBFF;
        color: #001029;
    }

    .main-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        padding: 40px 20px;
    }

    .main-2 .titles{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .main-2 .titles .p1{
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .main-2 .titles .p1 hr{
        display: flex;
        place-self: center;
    }

    .main-2 .titles .p1 p br{
        display: none;
    }

    .main-2 .titles .p2 p{
        text-align: justify;
    }

    .main-2 .titles .p2 br{
        display: none;
    }

    .main-2 .area-about{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .main-2 .area-about .card-about{
        display: flex;
        flex-direction: column;
    }

    .main-2 .area-about .card-about:nth-child(1){
        display: flex;
        flex-direction: column-reverse;
    }

    .main-2 .card-about .card-text{
        padding: 30px 10px;
    }

    .main-2 .button-mob a{
        display: flex;
        justify-content: center;
        padding: 20px;
        font-size: 2vh;
        width: 280px;
    }

    .main-2 .button-mob a:hover{
        border: 3px solid #001029;
        background-color: #FFFBFF;
        color: #001029;
    }

    .main-3{
        padding: 40px 20px;
    }

    .main-3 .titles h1{
        font-size: 4vh;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        color: #FFFBFF;
    }

    .main-3 .area-cards-2{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .main-3 .area-cards-2 .card br{
        display: none;
    }

    .main-4{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        place-self: center;
        align-items: center;
        gap: 20px;

        padding: 40px 20px;
        
    }

    .main-4 img{
        display: flex;
        place-self: center;
        height: 38vh;
    }

    .main-4 .image img{
        display: none;
    }

    .main-4 .p1{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .main-4 .p1 .titles{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .main-4 .p1 .titles h3{
        font-size: 2.5vh;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        letter-spacing: 5px;
        color: #001029;
    }


    .main-4 .cards-carrosel{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 350px;
    }

    .main-4 .card{
        display: flex;
        flex-direction: column;
        justify-self: left;
        padding: 30px 40px;
        gap: 20px;

        background-color: #343434;
        border-radius: 2px;
    }

    .main-4 .card br{
        display: none;
    }

    .main-4 .card .person{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .main-4 .card .person br{
        display: flex;
    }

    .footer{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        padding: 20px 0px;

        background-color: #001029;
    }

    .footer .button-mob a{
        display: flex;
        justify-content: center;
        font-size: 1.8vh;
        display: flex;
        background-color: #FFFBFF;
        color: #001029;
        width: 200px;
    }

    .footer .button a:hover{
        border: 3px solid #FFFBFF;
        background-color: #001029;
        color: #FFFBFF;
    }

}

@keyframes move-left {
    from {
      left: 0%;
    }
    to {
      left: -69%;
    }
}