*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #1b1b1b;
    color: #fefefa;
}

html{
    scroll-behavior: smooth;
}


.titles{
    display: flex;
    justify-content: left;
    padding: 100px 0px 0px 50px;

    font-size: 4vh;
    
}


.bottom img{
    color: #FFF;
    height: 6vh;
    padding-right: 20px;
}

.bottom a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    text-decoration: none;
    background-color: #25d366;
    color: #FFF;
    border-radius: 30px;
}

.in-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
    gap: 10rem;
    font-size: 2vh;
    background-color: #080705;
}


.logo img{
    height: 5vh;
}

.list-nav{
    display: flex;
    gap: 30px;

    align-items: center;
}

.list-nav a{
    text-decoration: none;
    font-size: 2.7vh;
    color: #FFF;
}

.list-nav a:hover{
    color: #080705;
    background-color: white;
    padding: 5px;
}

.header{
    background-image: url(./assets/romain-dancre-doplSDELX7E-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 700px;
    color: #FFF;
}

.text-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 20px;

    font-size: 4vh;
}

.cards-c{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card-contact{
    display: flex;
    align-items: center;

    padding:10px;
    gap: 20px;

    border: 2px solid #FFF;
    border-radius: 50%;
}

.card-contact img{
    height: 30px;
}

.card-contact:hover{
    background-color: #FFF;
    background-color: rgba(255, 255, 255, 0.376);
    backdrop-filter: blur(10px);
    border: none;
}

.cards-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    
    padding: 100px 200px;
    gap: 50px;
}

.cards-area .card{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    
    border-radius: 10px;
    background-color: #FFF;
    border: 2px solid black;
    text-align: center;
    color: #080705;
}

.cards-area h2{
    background-color: #FFF;
    padding: 10px;
}

.sobre{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    padding: 100px 200px;
    gap: 300px 0px;

    background-image:url(./assets/artwork.png);
    background-size: cover;
    
}

.sobre-img{
    display: flex;
    justify-content: center;
}

.sobre-img img{
    height: 70vh;
}

.text-sobre .text{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.text-sobre{
    display: flex;
    flex-direction: column;
    
    gap: 20px;
}



.feedback{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;

    padding: 100px 100px;
    gap: 50px;
    color: #FFF;
}

.card-fdb{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;

    border: 2px solid #ffffff0c;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.084);
    border-radius: 15px;
    color: #FFF;
    background-color: #080705;
}

.card-fdb h5{
    display: flex;
    justify-content: center;
    font-size: 2vh;
    text-align: center;
}

.card-fdb h3{
    display: flex;
    font-size: 3.5vh;
}

.card-fdb img{ 
    display: flex;
    border-radius: 20px;
    width: 25vh;
}

.loc-maps{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;

    padding: 100px 160px;
    gap: 50px;
}

.text-loc{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:  #080705;
    padding: 40px;
    color: #FFF;
}

::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb{
    background-color: #080705;
    width: 6px;
    height: 6px;
    border-radius: 10px;
}