*{
    margin: 0;
    padding: 0; 
    font-family: "Poppins", sans-serif;
}

body{ 
    color: #080705;
}

html{
    scroll-behavior: smooth;
}

.color-1{
    background-color: black;
}

.color-1 .titles{
    color: #FFF;
}

.titles{
    display: flex;
    justify-content: left;
    padding: 100px 0px 0px 200px;
    font-size: 4vh;
}

.bottom a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    text-decoration: none;
    font-size: 2vh;

    background-color: black;
    color: #FFF;
    border-radius: 2px;
}

.bottom img{
    color: #FFF;
    height: 6vh;
    padding-right: 20px;
}

.in-nav{
    display: flex;
    justify-content:right;
    align-items: center;
    padding: 20px 100px;
    
    font-size: 2vh;
    background-color: #080705;
}

.list-nav{
    display: flex;
    gap: 50px;

    align-items: center;
}

.list-nav a{
    text-decoration: none;
    font-size: 2.7vh;
    color: #FFF;
}

.in-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    width: 900px;
    height: 550px;

    padding: 60px 130px;
    gap: 20px;
}

.text-header .logo img{
    height: 10vh;
    background-color: #080705;
    padding: 20px;
}

.text-header{
    display: flex;
    flex-direction: column;
    gap: 8px;

    font-size: 5vh;
    color: #000000;
}

.text-header p{
    font-size: 2.4vh;
}

.cards-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    padding: 90px 240px;
    gap: 30px 50px;
}

.cards-area .card{
    display: flex;
    flex-direction: column;   
    
    padding: 20px;
    gap: 8px;
    
    border-radius: 20px 20px 20px 50px;
    border: 2px solid white;

    font-size: 2.5vh;
    color: white;
}

.card img{
    height: 8vh;
    background-color: #FFF;
    border-radius: 5px;
    padding: 2px;
}

.text-ca{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quest-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px;

    text-align: center;
    font-size: 4vh;
    gap: 20px;

    background-color: #FFF;
    color: black;
}

.sobre{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    align-items: center;
    justify-content: center;

    padding: 100px 200px;
    gap: 130px 60px;
    color: #FFF;
}

.sobre-img img{
    height: 70vh;
}

.text-sobre .text{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.list-sobre ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sobre .bottom a{
    background-color: rgb(185, 185, 185);
    color: black;
}

.feedback{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;

    padding: 100px 100px;
    gap: 60px;

    color: #000000;
}

.card-fdb{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 10px;

    border: 2px solid #FFF;
    border-radius: 15px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.377);
    background-color: #f9f7f7;
}

.card-fdb h5{
    display: flex;
    justify-content: center;
    font-size: 2vh;
    text-align: center;
}

.card-fdb h3{
    display: flex;
    font-size: 3.5vh;
}

.card-fdb img{ 
    display: flex;
    border-radius: 20px;
    width: 40vh;
}

.loc-maps{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;

    padding: 100px 160px;
    gap: 50px;
}

.text-loc{
    display: flex;
    flex-direction: column;
    gap: 60px;
    color: #FFF;
}

.card-loc{
    display: grid;
    gap: 10px;
}

.card-loc img{
    height: 5vh;
    padding: 10px;
    background-color: black;
    border-radius:5px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;

    background-color:  #080705;
    color: #f9f7f7;
}

.footer a{
    color: green;
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb{
    background-color: #080705;
    width: 6px;
    height: 6px;
    border-radius: 10px;
}